<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{route.name}}</title>
    
</head>
<body class="fondo">
    <header>
    	LinkStack : {{route.name}}
    </header>
    <form action="/{{route.name}}" method= "post">
        {% csrf_token %}
        {{form}}
        <input type= "submit" value= "Submit"/>  
    </form>
    <h2>Enlaces</h2>
    <ul>    
	{% for l in links reversed %} 
        <li>    
            <div class= "link">
	            <a href="{{l.link}}"> {{l.link}} </a>
                <p> {{l.description}} </p>
            </div>
        </li>
	{% endfor %}
    </ul>
</body>
</html>
